@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Lexend+Exa|Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-top: 75px;
  text-align: center;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 42px;
}


.form {
  margin-top: 70px;
  text-align: center;
}

ul {
  margin-top: 50px;
  text-align: center;
  list-style: none;
  font-size: 24px;
  font-family: 'Lexend Deca', sans-serif;
}

input {
  height: 50px;
  font-size: 24px;
  margin-right: 25px;
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 5px;
}

.submit {
  font-size: 24px;
  height: 55px;
  width: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
}

.submit:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #3333ff;
}

#displayEdit {
  margin-top: 50px;
}

li {
  margin-bottom: 25px;
}

